.progress__bar{
   max-width: 40%;
   margin-left: 30%;
}
.file__name{
    width: 40%;
   margin-left: 30%;
}
.file-box span{
   background: rgb(214, 210, 210);
   padding: 0px 13px;
   border-radius: 50%;
}
.file-box span:hover{
   background: rgb(219, 108, 108);
   color: white;
}
